body,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.h1 {
  color: black;
  padding-left: 35%;
}

.img1 {
  margin-left: 35%;
}

.p1 {
  color: blue;
}

li.a.link {
  list-style-type: none;
  text-decoration: none;
}

.blue {
  color: black;
}

.bluee {
  color: black;
}

.green {
  color: green;
}

.grey {
  background-color: rgb(20, 18, 18);
}

.wdt {
  width: 5% !important;
  background-color: rgb(194, 189, 189);
}
.img {
  height: 300px !important;
}
